html
{
  
    box-sizing: border-box;
}

a{
    color: #F9FAF8;
    font-size: 20px;
}
    
button{
    cursor: pointer;
}

h1{
    font-size: 52px;
    font-weight:bolder;
    margin:0px;
}

h2{
    font-size: 45px;
    font-weight: bolder;
    color:#1F2937;
    text-align: center;
}

body{
    background-color: #1F2937;
    color: #F9FAF8;
    margin:0px;
    height:auto;
    max-width:100%;
    display: flex;
    flex-direction: column;
}

figure
{
    height:fit-content;
    text-align: center;
}

figure img{
    max-width:350px;
    max-height:405px;
    object-fit: contain;
    border:5px solid #3882F6;
    border-radius: 15px;
 }

.header{
    display:flex;
    flex-wrap: wrap;
    background-color: #1F2937;
    align-items: center;
    justify-content: center;
    column-gap: 57rem;
    row-gap: 0;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-bottom: 1%;
}

.header a[href*="instagram.com/"] {
    background:url(https://instagram.com/favicon.ico) no-repeat left center;
    padding-left:23px;
    background-size:contain;
}
    
.header a[href*="facebook.com/"] {
    background:url(https://www.facebook.com/favicon.ico) no-repeat left center;
    padding-left:23px;
    background-size:contain;

}

.header a[href*="soundcloud.com/"] {
    background:url(https://www.soundcloud.com/favicon.ico) no-repeat left center;
    padding-left:23px;
    background-size:contain;

}
.links{
    display: flex;
    gap:5%;
    padding-right: 5%;
    align-self: center;
    margin-top: 1rem;

}
.hero{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    column-gap:15%;
    color: #F9FAF8;    
    font-size:larger;
    margin-bottom: 1%;
    margin-top: 1%;
}
.hero-txt{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 28em;
    padding-top: 5%;
    font-size: 20pt;
}

.hero-description{
    color: #E5E7EB;
    margin-top: 2%;
}

.main-body{
    background-color: #F9FAF8;
    color:#1F2937;
    padding-top: 1%;
    margin-top: 0;
}

.pics{
    display: flex;
    justify-content:center;
    align-items: center;
    width:100%;
    height:fit-content;
    flex-wrap: wrap; 
}

.testimonial{
    background-color: #E5E7EB;
    color: #1F2937;
    font-size: 25px;    
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left:25%;
    padding-right:25%;
    max-width: 100em;
}
.testimonial h3{
    font-weight:300;
    font-style: italic;
    margin:0;
}
.testimonial h4{
    text-align: end;
    color: #1F2937;
    font-weight: bolder;
    margin:0;
}
.action-call{
    background-color: #3882F6;
    border-radius: 10px;
    margin-top:1%;
    margin-bottom: 1%;
    margin-left: 25%;
    margin-right: 25%;
    padding:1%;
    font-size: 14pt;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-end;
}
.action-call h4{
    margin-bottom: 0px;
    color: #F9FAF8;
}

.call-text{
    color:#E5E7EB;
}

.footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 2%;
    padding: 0px;
}
#logo{
    width:200px;
    height:auto;
    }
    
#top-button{
    color: #F9FAF8;
    background-color: #3882F6;
    width:max-content;
    height:fit-content;
    margin-top: 25%;
    margin-bottom: 25%;
    border-radius: 5px;
    padding:.5em;
    font-size: 12pt;
}

#splash{
    max-width: 496px;
    margin-top: 0;
    margin-bottom: 0;
}

#bot-button{
    width:max-content;
    height:auto;
    background-color: #3882F6;
    color: #E5E7EB;
    border-style: solid;
    border-color: white;
    border-radius: 5px;
    margin:5%;
    margin-left: 10%;
    margin-right:10%;
    padding:20%;    
    font-size: 11pt;

}
#bot-button:active{
    border-style: inset;
}




