html {
  box-sizing: border-box;
}

a {
  color: #f9faf8;
  font-size: 20px;
}

button {
  cursor: pointer;
}

h1 {
  font-size: 4.5rem;
  font-weight: bolder;
  margin: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
}

h2 {
  font-size: 3rem;
  font-weight: bolder;
  color: #1f2937;
  text-align: center;
}

body {
  background-color: #1f2937;
  color: #f9faf8;
  margin: 0;
  height: 100vh;
  width: auto;
  display: flex;
  flex-direction: column;
}

figure {
  height: fit-content;
  text-align: center;
}

figure img {
  max-width: 350px;
  max-height: 405px;
  object-fit: contain;
  border: 5px solid #3882f6;
  border-radius: 15px;
}

.header {
  display: flex;
  flex-wrap: wrap;
  background-color: #1f2937;
  align-items: center;
  justify-content: space-between;
  row-gap: 0;
  margin-bottom: 1rem;
  padding: 3rem;
}

.header a[href*="instagram.com/"] {
  background: url(https://instagram.com/favicon.ico) no-repeat left center;
  padding-left: 23px;
  background-size: contain;
}

.header a[href*="facebook.com/"] {
  background: url(https://www.facebook.com/favicon.ico) no-repeat left center;
  padding-left: 23px;
  background-size: contain;
}

.header a[href*="soundcloud.com/"] {
  background: url(https://www.soundcloud.com/favicon.ico) no-repeat left center;
  padding-left: 23px;
  background-size: contain;
}
.links {
  display: flex;
  column-gap: 0.5rem;
  align-self: center;
  margin-top: 1rem;
}
.hero {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  color: #f9faf8;
  padding: 3rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  max-width: 100%;
  height: auto;
}
.hero-txt {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 59%;
  padding-top: 1rem;
  font-size: 1.5rem;
}

.hero-description {
  color: #e5e7eb;
  margin-top: 1rem;
}

.main-body {
  background-color: #f9faf8;
  color: #1f2937;
}

.pics {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  flex-wrap: wrap;
  font-size: 1.1rem;
}

.testimonial {
  background-color: #e5e7eb;
  color: #1f2937;
  font-size: 1.5rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 35rem;
  padding-right: 35rem;
  max-width: 100%;
  height: auto;
}
.testimonial h3 {
  font-weight: 300;
  font-style: italic;
  margin: 0;
}
.testimonial h4 {
  text-align: flex-end;
  color: #1f2937;
  font-weight: bolder;
  margin: 0;
}
.action-call {
  background-color: #3882f6;
  border-radius: 10px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-right: 35rem;
  margin-left: 35rem;
  padding: 3rem;
  padding-left: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 1.25rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.action-call h4 {
  color: #f9faf8;
}

.call-text {
  color: #e5e7eb;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  padding: 0;
}
#logo {
  width: 200px;
  height: auto;
}
#top-button,
#bot-button {
  color: #f9faf8;
  background-color: #3882f6;
  width: fit-content;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  padding: 10px;
  font-size: 1rem;
  border-style: solid;
  text-decoration: none;
}

#splash {
  max-width: 100%;
  width: 496px;
  height: auto;
  object-fit: contain;
}

#top-button:active,
#bot-button:active {
  border-style: inset;
}
